@font-face {
  font-family: AkzidenzGrotesk;
  src: url("AkzidenzGrotesk-BoldExtendedItalic.otf") format("opentype");
}

html {
  height: 100%;
}
body {
  font-size: 4em;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  flex-direction: column;
  font-family: AkzidenzGrotesk;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.menu a {
  display: block;
}
h1 {
  margin-top: 0;
}
